<div class= "scrolling-wrapper" id="scroller">
  <div class="dash" (click)="DashSelect('dash_0')"><p>Сводная информация</p></div>
  <div class="dash" (click)="DashSelect('dash_1')"><p>Дашборд 1</p></div>
  <div class="dash" (click)="DashSelect('dash_2')"><p>Дашборд 2</p></div>
  <div class="dash" (click)="DashSelect('dash_3')"><p>Дашборд 3</p></div>
  <div class="dash" (click)="DashSelect('dash_4')"><p>Дашборд 4</p></div>
  <div class="dash" (click)="DashSelect('dash_5')"><p>Дашборд 5</p></div>
  <div class="dash" (click)="DashSelect('dash_6')"><p>Дашборд 6</p></div>
  <div class="dash" (click)="DashSelect('dash_7')"><p>Дашборд 7</p></div>
</div>
<div>
  <img src={{active_dash_link}}>
</div>

